In [1]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text  import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

In [2]:
example1 = "Cabbage is a member of brassica family"
example2 = "Kale is a member of brassica family"

In [3]:
cv = CountVectorizer()

In [4]:
exam2 = ["Cabbage is a member of brassica family"]
X = cv.fit_transform(exam2)
X = X.toarray()
X

array([[1, 1, 1, 1, 1, 1]], dtype=int64)

In [5]:
cv.fit([example1,example2])

CountVectorizer()

In [6]:
cv.transform([example1,example2]).toarray()
x = cv.transform([example1]).toarray()
y = cv.transform([example2]).toarray()

columns = cv.get_feature_names_out()
df1 = pd.DataFrame(x,
                  columns = columns,
                  index = ["example1"]
                  )
df1

df2= pd.DataFrame(y,
                  columns = columns,
                  index = ["example2"]
                  )
df2
df =pd.concat([df1,df2])
df['tag'] = ['Cabbage','Kale']
df

          brassica  cabbage  family  is  kale  member  of      tag
example1         1        1       1   1     0       1   1  Cabbage
example2         1        0       1   1     1       1   1     Kale

In [7]:
sorted(cv.vocabulary_.keys())

['brassica', 'cabbage', 'family', 'is', 'kale', 'member', 'of']

In [8]:
cv =CountVectorizer(ngram_range =(2,2))

In [9]:
X = cv.fit_transform(exam2)
X = X.toarray()
sorted(cv.vocabulary_.keys())

['brassica family', 'cabbage is', 'is member', 'member of', 'of brassica']

In [10]:
cv.get_feature_names_out()

array(['brassica family', 'cabbage is', 'is member', 'member of',
       'of brassica'], dtype=object)

In [11]:
#Dataframe

In [12]:
df = pd.DataFrame({
    "Status":['ham','ham','Spam',],
    "Message":['Go Until Jurong, crazy ... Available','Ok lar... Joking wif u uni','Free entry in 2 a wky comp to win FA Cup ']
}
)
df

  Status                                    Message
0    ham       Go Until Jurong, crazy ... Available
1    ham                 Ok lar... Joking wif u uni
2   Spam  Free entry in 2 a wky comp to win FA Cup

In [13]:
df.groupby('Message').describe()

                                          Status
                                           count unique   top freq
Message
Free entry in 2 a wky comp to win FA Cup       1      1  Spam    1
Go Until Jurong, crazy ... Available           1      1   ham    1
Ok lar... Joking wif u uni                     1      1   ham    1

In [14]:
df.loc[df["Status"]=='ham',"Status"]=1
df.loc[df["Status"]=='Spam',"Status"]=0
df

  Status                                    Message
0      1       Go Until Jurong, crazy ... Available
1      1                 Ok lar... Joking wif u uni
2      0  Free entry in 2 a wky comp to win FA Cup

TFID Vectorizer

In [15]:
df["Status"] = df["Status"].apply(lambda x: 1 if x == "Spam" else 0)
df

   Status                                    Message
0       0       Go Until Jurong, crazy ... Available
1       0                 Ok lar... Joking wif u uni
2       0  Free entry in 2 a wky comp to win FA Cup

In [16]:
feature=df['Message']
target = df = df["Status"]

In [17]:
cv = CountVectorizer()

In [18]:
x = cv.fit_transform(['Go Until Jurong, crazy ... Available'])

In [19]:
x.toarray()

array([[1, 1, 1, 1, 1]], dtype=int64)

In [20]:
cv.get_feature_names_out()

array(['available', 'crazy', 'go', 'jurong', 'until'], dtype=object)

Tfidf

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer as tf_idf
import pandas as pd
tfidf = tf_idf(norm = None)
transformed=tfidf.fit_transform([example1])

In [23]:
df = pd.DataFrame(transformed[0].T.todense(),
                 index = tfidf.get_feature_names_out(),
                 columns = ["TF-IDF"]
                 )
df =  df.sort_values("TF-IDF",ascending=False)
df

          TF-IDF
brassica     1.0
cabbage      1.0
family       1.0
is           1.0
member       1.0
of           1.0

In [24]:
tfidf.fit([example1,example2])
x = tfidf.transform([example1]).toarray()
y = tfidf.transform([example2]).toarray()

columns = tfidf.get_feature_names_out()
df1 = pd.DataFrame(x,
                  columns = columns,
                  index = ['example1'])
df1

columns = tfidf.get_feature_names_out()
df2 = pd.DataFrame(y,
                  columns = columns,
                  index = ['example2'])
df2

df = pd.concat([df1,df2])
df['tag'] = ['Cabbage','Kale']
df

          brassica   cabbage  family   is      kale  member   of      tag
example1       1.0  1.405465     1.0  1.0  0.000000     1.0  1.0  Cabbage
example2       1.0  0.000000     1.0  1.0  1.405465     1.0  1.0     Kale

word2vec and Glove